body {
    background-image: url("/pics/newback.png");
}

.return {
    float: left;
    z-index: 1;
    font-size: 13px;
    font-family: 'Playpen Sans', cursive;
    font-weight: bold ;
}

img {
    float: left;
    margin-right: 20px;
    width:560px; 
    height: auto;
    border-radius: 22px;
    z-index: 1;
    position: relative;
    margin-bottom: 22px;
}

.img-container {
    display: flex;
    z-index: 1;
}
  
  .text-container {
    margin-top: 33px;
    margin-left: 1px;
    background-image: linear-gradient(90deg, rgb(236, 233, 233) 0%, rgb(211, 209, 209) 100%);
    border-radius: 22px;
    opacity: 90%;
}

h4{
    text-align: left;
    align-items: left;
    border-radius:22px;
    display: inline-block;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    color: #555353;
}

h1{
    border-width: 22px;
    border-radius: 22px;
    text-decoration: italic, bold;
    opacity: 90%;
    margin-top:1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
    background-image: linear-gradient(90deg, rgb(236, 233, 233) 0%, rgb(211, 209, 209) 100%);
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

h5 {
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Playpen Sans', cursive;
}

.ingredients {
    opacity: 90%;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(236, 233, 233) 0%, rgb(211, 209, 209) 100%);
    border-radius: 22px;
    font-style: italic;
    z-index: 0;
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
}

.method {
    opacity: 90%;
    align-items: center;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(90deg, rgb(236, 233, 233) 0%, rgb(211, 209, 209) 100%);
    font-style: italic;
    border-radius: 22px;
    font-family: 'Playpen Sans', cursive;
    display: inline-block;
    position: sticky;
    width:1298px;
    max-width: 100%;
}


